footer#footer
	.container
		.main-footer
			.box-holder
				h1.title.underline RECENT NEWS
				.news
					span.date 07/12/17
					p This is a headline for a recent news post about CTQ. This is not a blog post.
				.news
					span.date 07/12/17
					p This is a headline for a recent news post about CTQ. This is not a blog post.
			.box-holder
				h1.title.underline FOLLOW US
				p @TEACHINGQUALITY
				| Our country has a 
				strong troubled 
				| history of dealing with #bilingualism, @daniellitaa says in @edweekteacher… twitter.com/iweb/status/8…
			.box-holder
				h1.title.underline CONNECT WITH US
				include ../template/_social
				include ../template/_contacts
		.bottom-footer
			ul.copyright
				li: a(href="#") &copy; 2017 Center for Teaching Quality. All rights reserved.
				li: a(href="#") Privacy Statement
				li: a(href="#") Terms &amp; Conditions