footer#footer
	.container
		.box-holder
			h1.title RECENT NEWS
			.news
				span.date 07/12/17
				p This is a headline for a recent news post about CTQ. This is not a blog post.
			.news
				span.date 07/12/17
				p This is a headline for a recent news post about CTQ. This is not a blog post.
		.box-holder
			h1.title FOLLOW US
			p @TEACHINGQUALITY
			| Our country has a troubled history of dealing with #bilingualism, @daniellitaa says in @edweekteacher… twitter.com/iweb/status/8…
		.box-holder
			h1.title CONNECT WITH US
			include ../template/_social
			include ../template/_contacts