ul.social
	li: a(href="#", target='_blank')
		span.hidden linkedin
		i.icon-linkedin
	li: a(href="#", target='_blank')
		span.hidden facebook
		i.icon-facebook
	li: a(href="#", target='_blank')
		span.hidden twitter
		i.icon-twitter