#wrapper {
  width: 100%;
  overflow: hidden;
  background: $base-background-color;
}

.container {
  max-width: $max-width-center-container;
  padding: $padding-container;
  margin: 0 auto;
}

.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	text-indent: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}



.under-line {
	position: relative;
	// display: inline-block;

	&:after {
		content: '';
		margin-top: 10px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 50px;
		height: 4px;

		.meet-section & {
			width: 50px;
			height: 2px;
		}
	}

	&.line-black {
		&:after {
			background: $black;
		}
	}

	&.line-white {
		&:after {
			background: $white;
		}
	}

	&.line-yellow {
		&:after {
			background: $yellow;
		}
	}

	&.line-center {
		&:after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.link-holder {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
	width: 100%;
	padding: 0 15px;

	@include media ('>=tablet') {
		width: 50%;
		margin-right: -5px;
	}

	.box-article {
		border: 4px solid $blue-light;
		font-size: $font-size-base-lagre;
		color: $base-text-color;
		padding: 20px 25px;
		font-family: $base-font-sans-serif;

		h4 {
			text-transform: uppercase;
			margin-bottom: 30px;

			a {
				color: inherit;

				&:hover {
						@include animate(color);

						color: darken($base-text-color, 10%);
					}
			}
		}

		.more {
			display: inline-block;
			font-size: 10px;
			font-weight: $black-font;
			position: relative;
			text-transform: uppercase;
			
			a {
				color: $yellow;
			}

			i {
				margin-left: 3px;
			}
		}

	}
}

.start-section {
	color: $white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 100px 0;
	font-size: 40px;
	line-height: 1;

	@include media('>=tablet') {
		font-size: 81px;
	}

	h4 {
		text-transform: uppercase;
		font-weight: $bold;
		margin-bottom: 30px;
	}

	p {
		margin-bottom: 50px;
	}

	.btn {
		text-transform: uppercase;
		font-size: 13px;
		padding: 20px;
		color: $white;
	}
}

.box-posts {
	padding: 50px 0;
	position: relative;	

	@include media('>=tablet') {
		padding: 75px 0 80px;
	}

	.box-holder {
		@include media('>=tablet') {
			margin: 0 -15px;
		}
	}

	&:after,
	&:before {
		font-family: 'icomoon';
		position: absolute;
		left: 50%;
		content: "\e908";
		color: $gray2;
		transform: translateX(-50%);
		bottom: 40px;

		@include media('>=desktop') {
			bottom: 20px;
		}
	}

	&:before {
		content: "\e909";
		top: 24px;
		bottom: auto;
	}

}

.meet-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: $white;
	text-align: center;
	position: relative;

	.container {
		background: rgba($purple, .8);

		.content-holder {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 90px 0;
			max-width: 490px;
			margin: 0 auto;
			font-size: 21px;
			line-height: 25px;

			h3 {
				font-size: 28px;
				margin-bottom: 30px;
			}

			P {
				// margin-bottom: 75px;
			}

			.btn {
				width: 100%;
				max-width: 120px;
				text-transform: uppercase;
				font-size: 13px;
				line-height: 28px;
				color: $white;
				border: 2px solid $white;
				padding: 0 8px;

				&:hover {
					@include animate(color border-color);

					color: $yellow;
					border-color: $yellow;
					background-color: transparent;
				}
			}
		}

		&:after {
			display: block;	
			position: absolute;
			content: "";
			left: 0;
			bottom: -1px;
			z-index: 1;
			height: 32px;
			width: 100%;
			background: url(../images/decor-01.png) no-repeat;
			background-size: cover;
			background-position: 50% 50%;
		}		
	}
}

.history {
	position: relative;
	padding: 50px 0 0;

	@include media('>=tablet') {
		padding: 90px 0 0;
	}

	&:before {

		@include media('>=tablet') {
			content: "";
			width: 66.6%;
			height: 517px;
			background-image: url(../images/ctq_pattern_1.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 0 100%;
			position: absolute;
			bottom: -35px;
			right: 0;
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		

		@include media('>=tablet') {
			flex-direction: row;
			align-items: flex-end;
		}

		.image {	
			display: flex;
			justify-content: center;

			@include media('>=tablet') {
				width: calc(33.3% - 20px);
				min-width: 307px;
				padding: 0 20px 0 0;
				order: 1;
			}

			img {
				width: 100%;
				max-width: 287px;

				@include media('>=desktop') {
					margin-left: -25px;
				}
			}
		}

		.text {
			color: $blue;
			text-align: left;
			font-size: $font-size-base-lagre;
			
			@include media('>=tablet') {
				font-size: 26px;
				line-height: 40px;
				width: 66.6%;
				padding: 0 0 45px;
				order: 2;
			}

			p {
				margin-bottom: 30px;
			}

			a {
				display: block;
				max-width: 234px;
				padding: 18px 20px;
				margin: 0 auto 20px;
				border: 2px solid $yellow;
				text-transform: uppercase;
				text-align: center;

				@include media('>=tablet') {
					margin: 0;
				}
			}
		}
	}
}

.up-to-date {
	padding: 50px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: $white;

	@include media('>=tablet') {
		padding: 85px 0;
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include media('>=desktop') {
			flex-direction: row;
			justify-content: space-around;
		}

		h1 {
			@include media('>=desktop') {
				font-weight: normal;
				margin: 0;
			}
		}

		.form-email {
			
			text-align: center;
			position: relative;

			@include media('>=tablet') {
				width: 100%;
				max-width: 488px;
			}
					

			input[type='search'] {
				@include placeholder {
					color: $white;
				}

				background: $blue;
				color: $white;
				border: 1px solid $blue-dark;
				font-weight: $light;
				line-height: 47px;
				height: 47px;
				width: 100%;
				margin-bottom: 10px;
				outline: none;

				@include media('>=tablet') {
					width: 100%;
					min-width: 336px;
					margin-bottom: 0;
					padding-right: 162px;
				}

				&:focus {
					border-color: darken($blue-dark, 10%);
				}
			}

			button {
				width: 152px;
				text-align: center;
				background: $black;
				border: none;
				font-weight: $normal;
				text-transform: uppercase;
				font-size: 13px;
				color: $white;
				line-height: 47px;
				padding: 0 35px;
				height: 47px;
				outline: none;
				

				@include media('>=tablet') {
					position: absolute;
					top: 0;
					right: 0;
				}

				&:hover {
					@include animate(color);

					color: $yellow;
				}
			}
		}
	}
}