#footer {
	background: $base-background-footer;
	color: $white;
	padding-top: 35px;
}

.main-footer {
	margin: 0 -15px;

	@include media('≥tablet') {
		padding-bottom: 90px;
	}

	.box-holder {
		display: inline-block;
		vertical-align: top;
		font-weight: $light;
		line-height: 25px;
		width: 100%;
		padding: 0 15px;
		margin-bottom: 20px;

		@include media('≥phone') {
			width: 50%;
		}

		@include media('≥desktop') {
			width: 33.3%;
			font-size: 21px;
		}
	}

	h4 {
		display: block;
		margin-bottom: 30px;
		text-transform: uppercase;
	}

	.news {
		margin-bottom: 20px;
	}

	a {
		display: block;
		color: $white;
		white-space: normal;

		&:hover {
			opacity: .8;
		}
	}

	.date {
		display: block;
		font-weight: $bold;
		font-size: 13px;
	}

	.contact-links {
		font-style: normal;
		a {
			display: block;
		}
	}
}

.bottom-footer {
	display: block;
	background: $yellow;
	color: $gray-dark;
	font-size: 14px;

	@include media('≥tablet') {

		display: flex;
		justify-content: center;
	}	
}

.copyright-holder {
	display: block;
	text-align: center;
	padding: 18px 0;

	@include media('≥tablet') {
		display: inline-block;
		vertical-align: middle;
		margin-right: -4px;
	}
}

.copyright {
	color: $gray-dark;

	@include media('≥tablet') {
		border-right: 1px solid $gray-dark;
		padding: 0 15px;
	}

	.copyright-link {
		color: inherit;

		&:hover {
			@include animate(color);

			color: darken($gray-dark, 20%);
		}
	}
}

.copyright-list {
	@extend %listreset;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
	padding: 18px 0;
	letter-spacing: -0.36em;

	@include media('≥phone') {
		flex-flow: row wrap;
	}

	@include media('≥tablet') {
		text-align: left;
		display: inline-block;
		vertical-align: middle;
	}

	li {
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 0;
		padding: 0 15px;
		color: $gray-dark;

		@include media('≥phone') {
			border-right: 1px solid $gray-dark;
		}

		&:last-child {
			border-right: none;
		}		
	}

	a {
		color: inherit;

		&:hover {
			@include animate(color);

			color: darken($gray-dark, 20%);
		}
	}
}

.yellow-color {
	color: $yellow !important;
}

.link:hover {
	opacity: .8;
}

