.social {
  @extend %listreset;

  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  margin-bottom: 20px;

  li {
    padding: 0 5px;
    font-size: 24px;
    color: $white;

    @include media('≥tablet') {
        padding: 0 10px;
    }

    a {
      color: inherit;

      &:hover i {
        @include animate(color);

        color: $yellow;
      }
    }
  }
}

.header-holder {

  ul {
    @extend %listreset;

    display: flex;

    li {
      letter-spacing: 0;
    }

    a {
      color: inherit;
    }
  }
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $black;


  .social {
    margin-bottom: 0;
    padding-left: 15px;

    @include media('≥tablet') {
      padding-left: 20px;
    }
  }


  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    color: $white;
    outline: none;
    border: none;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;

    &:hover {
      @include animate (color);

      background: none;
      color: $yellow;
    }
  }

  .sub-btn {
    display: none;

    @include media('≥tablet') {
      display: flex;
    }
  }      

  .box-search {
    display: none;
    position: relative;

    @include media('≥desktop') {
      display: flex;
      align-items: center;
    }
  }

  input[type='search'] {
    display: none;
    width: 0;
    height: 50px;
    border: 2px solid $blue;
    border-right: transparent;

    &:focus {
      border-color: lighten($blue, 10%);
    }
  }

  .btn-search {
    height: 50px;    
  }  
}

.popup-active {

  input[type='search'] {
    @include animate(width);

    display: block;
    width: 100%;
  }

  .btn.over-form {
    display: none;
  }
}

.btn.over-form {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: $white;
  background: $blue;
  padding: 0;

  @include media('≥desktop') {
    display: flex;
  }

  &:hover {
    background: lighten($blue, 10%);
    color: $white;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  position: relative;

  @include media('≥tablet') {
    padding: 44px 40px 25px;
  }

  @include media('≥desktop') {
    padding: 44px 20px 20px;
  }
}

.logo {
  position: relative;
  display: none;
  z-index: 1;

  @include media('≥tablet') {
    display: block;
    width: 100%;
    min-width: 233px;
    position: relative;
  }

  a {
    @include vertical-align-el;

    display: block;
  }
}

.logo-small {
   display: block;
   width: 100%;
   min-width: 181px;
   position: relative;
   z-index: 1;

   @include media('≥tablet') {
     display: none;
     position: relative;
   }

   a {
     display: block;
   }
 }

#nav {
   display: flex;
   align-items: center;
}

.nav-opener {
  width: 30px;
  height: 25px;
  font-size: 0;
  line-height: 0;
  position: relative;
  overflow: hidden;
  display: block;

  @include media('≥tablet') {
    display: none;
  }

  &:before,
  &:after,
  span {
    @include animate(transform);

    background: $gray;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 5px;
  }

  &:before,
  &:after {
    content: '';
    top: 0px;
  }

  &:after {
    top: 20px;
    width: 50%;
    left: auto;
  }

  &:hover {
    opacity: 0.9;
  }

  .nav-active & {
    span {
      opacity: 0;
    }

    &:after,
    &:before {
      transform: rotate(45deg);
      top: 10px;
    }

    &:after {
      transform: rotate(-45deg);
      width: 100%;
    }
  }
}

.nav-drop {
  @include animate(all);

  background: $mobile-nav-drop-bg;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  border-bottom: 2px solid $blue-light2;
  margin: 0;
  text-align: center;
  color: $black2;

  @include media('≥tablet') {
    position: static;
    opacity: 1;
    z-index: 1;
    border-bottom: none;
  }
  
  .nav-active & {
    opacity: 1;
    z-index: 999;
  }
}

.menu-main {

  ul {
   flex-direction: column;
   justify-content: center;

   @include media('≥tablet') {
     flex-wrap: nowrap;
     flex-direction: row;
     justify-content: space-between;
   }
 }

  .contact-links {
    line-height: $btn-line-height;
    font-style: normal;

    a {
      display: block;
      padding: 6px 0;
    }
  }
}

.box-search {
  position: relative;
  background: $blue;
  font-size: $font-size-base-lagre;
  margin-bottom: 42px;

  .form-control {
    @include placeholder {
      color: #666;
    }

    display: block;
    width: 100%;
    height: 50px;
    border: 2px solid $blue;
    border-right: 2px solid transparent;
    font-size: inherit;
    outline: none;
    padding: 12px 60px 12px 12px;

    &:focus {
      border-color: lighten($blue, 10%);
    }
  }

  button {
    display: block;
    width: 47px;
    height: auto;
    padding: 15px 10px;
    position: absolute;
    top: 0;
    right: 0;
    background: $blue;
    font-size: inherit;
    color: $white;
    border: none;
    outline: none;

    &:hover {
      background: lighten($blue, 10%);
    }
  }
}

.box-btn {
  margin-bottom: 30px;
  padding-top: 24px;

  @include media('≥tablet') {
    margin-bottom: 0;
  }

  li {
    padding: 15px 5px;
    font-size: 24px;
    font-weight: $semibold;
    line-height: 30px;
    text-transform: uppercase;

    @include media('≥tablet') {
      padding: 6px 5px;
      white-space: nowrap;
      font-size: 18px;
    }

    @include media('≥tablet') {
      padding: 6px 10px;
    }

    &.active a {
      color: $base-link-color;
      font-weight: $black-font;
    }

    a:hover {
      color: $base-link-color;
      font-weight: $black-font;
    }

    a::after {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}

.box-sub-btn {
  position: relative;
  margin-bottom: 25px;
  padding: 23px 0;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 14px;
  color: $blue;
  font-weight: $light;

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 10px;
    left: 15px;
    right: 15px;
  }

  &:before  {
    top: 0;
    background: linear-gradient(135deg, $white 0%, $white 40%, $blue-light2 40%, $blue-light2 70%, $white 70%, $white 100%);
    background-size: 19px 10px;
    background-position: -10px 0;
    background-repeat: repeat-x;
  }

  &:after  {
    bottom: 0;
    background: linear-gradient(135deg, $white 0%, $white 40%, $blue-light2 40%, $blue-light2 70%, $white 70%, $white 100%);
    background-size: 19px 10px;
    background-position: -10px 0;
    background-repeat: repeat-x;
  }

  li {
    padding: 7px 0;

    a:hover {
      @include animate (color);

      color: darken($blue, 10%);
      text-decoration: underline;
    }
  }
}

.only-mobile {
  display: block;

  @include media('≥tablet') {
    display: none !important;
  }
}